:root {
    --light-coral: #e88983;
    --yellow-buff: #efd489;
    --deep-green: #95e1d3;
    --light-green: #eaffd0;
    --light-white: #ffffff;
}

body>* {
    font-family: "Montserrat", sans-serif;
    background-attachment: fixed;
}

#brand {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/Banner.png), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-color: var(--light-coral);
    background-position: center;
    background-blend-mode: soft-light, lighten;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

#banner-container {
    margin: auto;
}

#h1-header {
    font-size: 5rem;
    font-weight: bold;
}

.h2-subheader {
    font-family: 'Kaushan Script', cursive;
}

.center {
    margin: auto;
}

.border-red {
    height: 2px;
    background-color: var(--light-coral);
    margin: 2em auto;
}

.border-red-author {
    height: 2px;
    background-color: var(--light-coral);
    margin: 1em 0;
}

.content-text {
    color: darkgrey;
    margin-bottom: 2em;
}


.active {
    border-bottom: 1px solid var(--yellow-buff);
    color: var(--yellow-buff) !important;
}

#navbar-link {
    align-items: flex-end;
}

.learn-more {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5em 3em;
    font-family: Montserrat;
    font-weight: bold;
}

.learn-more:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-basis: 52%;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
}

.link:hover {
    color: var(--yellow-buff);
}

#story-about-us {
    min-height: 100vh;
}

.shortcuts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shortcut-container {
    display: flex;
    flex-direction: column;
    justify-content: space-space;
    width: 100%;
    flex-basis: 20%;

}

.shortcut-container:hover {
    cursor: pointer;
}

.shortcut-container:last-child {
    margin-right: 0em;
}

.shortcut-bar-container {
    display: flex;
    width: auto;
    margin: 1em 0;
}

.shortcut-text {
    color: white;
    font-weight: bold;
}

.active-shortcut-bar {
    width: 100%;
    flex-basis: 45%;
    border: 1px solid var(--light-coral);
    background-color: var(--light-coral);
}

.shortcut-bar {
    width: 100%;
    flex-basis: 100%;
    border: 1px solid white;
    background-color: white;
}

.story-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.story-image-container {
    
    flex-basis: 31%;
}

.first-story-image {
    display: block;
    background-image: url("/assets/story-laptop.png"), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-size: cover;
    position: relative;
    
}

.first-story-image-text-container {
    height: 262px !important;
    width: 388px !important;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-image-container {
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

#first-image {
    background-image: url('/assets/story-laptop.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, lighten;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px var(--deep-green);
    height: 190px;
}

#second-image {
    background-image: url('/assets/story-desk.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

#third-image {
    background-image: url('/assets/story-desk-2.png');
    background-size: cover;
    width: 100%;
    height: 200px;
}
.test-image-container {
    background-image: url('/assets/story-desk.png');
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#facts{
    background-color: var(--deep-green);
}

.facts-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    /* border: 1px solid red; */
}

.fact-container{
    /* border: 1px solid red; */
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    border-right: 1px solid #b5eae0;
}

.fact-container:last-of-type{
    border-right: none;
}

.accomplished {
    font-size: 0.7rem;
}

.count {
    font-weight: bold;
    font-size: 4rem;
}

.services-svg {
    font-size: 2em;
    margin: 0 0.5em auto 0;
    display: inherit;
    color: var(--deep-green);
}

.service-container {
    padding: 1em 0 !important;
    width: 100%;
    /* border: 1px solid red; */
}

.service-offered {
    font-size: 0.7em;
    margin-bottom: 0.5em;
    /* border: 1px solid rebeccapurple; */
}

.service-details {
    width: 100%;
    font-size: 0.6em;
    color: grey;
    font-weight: 500;
}



#feature{
    background-image: url('/assets/landscape.png'), linear-gradient(#fcfcfc, #E6E6E6);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    padding: 5em 5em 0 5em;
}

.feature-container {
    display: relative;
}

.devices-container {
 position: relative;
}

.tablet {
    position: relative;
}

.iphone-container {
    position: absolute;
    z-index: 1;
    top: 13em;
    left: 32em;
}

#quote{
    background-color: #f8f8f8;
    height: 100%;
}

.quote-text-container {
    height: 100%;
    margin: auto;
}

.quote-image-container {
    height: 100%;
    margin: auto 2em auto 0;
    padding: 0;
}

.quote-img {
    
}

.previous-quote-btn {
    height: 100%;
    border: 1px solid black;
}

.services-offered {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    /* border: 1px solid red; */
}

.service-2-container:first-of-type ~ .service-2-container > .service-2-content {
    display: none;
}

.services-offered-img {
    height: 100%;
    display: flex;
    flex-basis: 50%;
    margin-right: 1em;
}
.service {
    padding: 0.7em 1em 0 1em;
}

.service-2-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;   
}

.service-2-container:last-of-type {
    margin-bottom: 0;   
}

.service-2 {
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
    flex-basis: 100%;
    border: 1px solid #e5e5e5;
}

.service-2:hover {
    cursor: pointer;
}

.service-2-content {
    display: flex;
    
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 0.2rem;
}

.service-2-icon {
    
}

.service-2-title {
    /* border: 1px solid red; */
    width: 100%;
    text-align: left;
    margin-left: 0.5em;
}

.service-2-arrow {
    margin-left: 0.5em;
}

.service-2-content {
    height: fit-content;
}

.service-2-content:first-of-type {
    display: block !important;
}


.service-2-details-container{
    height: 7.4em;
    overflow-y: scroll;
    padding-right: 1rem;
    
}

.service-2-details-container::-webkit-scrollbar{
    width: 0.4em;
    background-color: #f5f5f5;
}

.service-2-details-container::-webkit-scrollbar-thumb{
    background-color: var(--deep-green);
    border-radius: 2em;
}

.service-detail {
    display: block;
    color: darkgray;
    font-size: small;
    font-style: oblique;
    text-align: justify;
}

.member-container {
    width: 100%;
    /* border: 1px solid red; */
    margin-right: 2em;
}

.member-container:last-of-type {
    margin-right: 0em;
}

#matthew-dixon, #christopher-campbell, #michael-fertig {
    background-image: url('/assets/matthew-dixon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
}

#christopher-campbell {
    background-image: url('/assets/christopher-campbell.png');
    background-size: cover;
    background-position: center;
}

#michael-fertig {
    background-image: url('/assets/michael-fertig.png');
    background-position: center;
}

#matthew-dixon:hover {
    background-image: url('/assets/matthew-dixon.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, lighten;
    width: 100%;
    box-shadow: 0.5em 0.5em var(--deep-green);
}

#christopher-campbell:hover {
    background-image: url('/assets/christopher-campbell.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, lighten;
    width: 100%;
    box-shadow: 0.5em 0.5em var(--deep-green);
}

#michael-fertig:hover {
    background-image: url('/assets/michael-fertig.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, lighten;
    width: 100%;
    box-shadow: 0.5em 0.5em var(--deep-green);
}


#matthew-dixon:hover > .member-socials{
    visibility: visible;
}

#christopher-campbell:hover > .member-socials{
    visibility: visible;
}

#michael-fertig:hover > .member-socials{
    visibility: visible;
}

.member-socials {
    display: flex;
    justify-content: center;
    padding: auto;
    height: 30em;
    max-width: 100%;
    visibility: hidden;
}

.socials {
    height: inherit;
    padding: 0.5rem 0.8rem;
}

.socials-link-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-link {
    background-color: var(--yellow-buff);
}

.social-link:first-of-type {
    background-color: var(--light-coral);
}

.social-link:hover {
    cursor: pointer;
    background-color: wheat;
}

.member-details {
    padding: 2em;
}

.member-name, .member-role {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.member-role {
    font-size: 0.8em;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
}

.logos {
    background-color: lightgray;
}

.first-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sample-work {
    width: 100%;
}

#beach-side {
    background-image: url('/assets/beach-side.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
}

.text-container {
    height: 30em;
}

.sample-work-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
}

.special {
    grid-row-start: 1;
    grid-row-end: 3;
}

.work-container {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}
#first-work {
    background-image: url('/assets/beach-side.png');
}

#first-work:hover {
    background-image: url('/assets/beach-side.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#second-work {
    background-image: url('/assets/roof-size.png')
}

#second-work:hover {
    background-image: url('/assets/roof-size.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#third-work {
    background-image: url('/assets/bridge.png')
}

#third-work:hover {
    background-image: url('/assets/tower.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#fourth-work {
    background-image: url('/assets/tower.png');
}

#fourth-work:hover {
    background-image: url('/assets/tower.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#fifth-work {
    background-image: url('/assets/jellyfish.png');
}

#fifth-work:hover {
    background-image: url('/assets/jellyfish.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#sixth-work {
    background-image: url('/assets/ceiling.png');
    background-position: top;
}

#sixth-work:hover {
    background-image: url('/assets/ceiling.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

#seventh-work {
    background-image: url('/assets/building.png');
}

#seventh-work:hover {
    background-image: url('/assets/building.png'), linear-gradient(var(--light-coral), var(--yellow-buff));
    background-blend-mode: soft-light, hard-light;
}

.creatively-design {
    font-size: 0.8rem;
}

.work-container:hover > .hover-content { 
    visibility: visible !important;
}

.work-details {
    font-size: 0.7rem;
}


.hover-content {
    height: 20em !important;
    width: 100%;
    opacity: 1;
    visibility: hidden;
}

.testimonial-image {
    border-radius: 100%;
    object-position: center;
    height: 100%;
}

#testimonial-image-container{
    margin: 0 0 !important;
}

#happy-clients {
    background-image: url('/assets/happy-clients.png'), linear-gradient(#fcfcfc, #E6E6E6);;
    background-blend-mode: soft-light, lighten;

}

.client-testimonial {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.client-info-container {
    display: flex;
    flex-direction: column;
}

.client-info-container > p {
    text-align: left;
}

.line-separator{
    border: 1px solid red;
    height: 23px;
    background-color: red;
    width: 5%;
    margin: 0 0 1em 0;
    height: fit-content;
}

.client-picture {
    margin-right: 2em;
}

#first-client, #second-client, #third-client, #fourth-client {
    background-image: url('/assets/client1 test.png');
    background-size: cover;
    height: 6em;
    width: 6em;
    background-position: 40%;    
    border-radius: 100%;
}

#second-client {
    background-image: url('/assets/client-2.png');
}

#third-client {
    background-image: url('/assets/client-3.png');
}

#fourth-client {
    background-image: url('/assets/client-4.png');
}


.blog-container {
    width: 100%;
    position: relative;
    margin-right: 1em;

}

.blog-container:last-of-type {
    margin-right: 0;
}

#first-blog {
    background-image: url('/assets/first-blog.png');
    background-size: contain;
    
}

.blog-image {
    background-size: cover;
    width: 100%;
}

#second-blog-image {
    height: 11.2em;
}

.date-created {
    background-color: var(--deep-green);
    padding: 0.5em 1em;
    width: fit-content;
    color: white;
    position: absolute;
    top: 22%;
    right: 80%;
}

.blog-stat-icon{
    color: var(--deep-green);
}

.blog-info {
    border-bottom: 1px solid lightgray;
}
@media only screen and (max-width: 900px) {
    #banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #banner-container {
        font-size: 1rem;
    }

    .learn-more {
        margin: 2em;
    }

    .links-container {
        display: none;
    }

    .shortcut-text {

        color: white;
        font-weight: bold;
    }

    .story-images-container {
        height: fit-content;
        flex-direction: column;
    }

    .story-image-container {
        flex-basis: 100%;
    }

    .iphone-container {
        
        z-index: 1;
        top: 5rem;
        left: 9rem;
    }
    
    .services-offered-img {
        margin-right: 0;
    }

    .services-offered {
        margin-top: 1em;
    }

    .member-container {
        flex-direction: column;
    }
}